.app__product{
    min-width: 300px;
    min-height: 400px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 5px 6px 15px -3px rgba(0,0,0,0.35);
    box-shadow: 5px 6px 15px -3px rgba(0,0,0,0.35);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.app__product-image{
    width: 100%;
    height: 200px;   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.app__product-image img{
    height: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.app__product:hover .app__product-image img{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.app__product-body{
    height: 250px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.app__product-body h2{
    text-align: center;
    margin: 1rem 0;
    color: cadetblue;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.app__product:hover .app__product-body h2{
    color: rgb(47, 89, 90);
}
.app__product-body p{
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 1.2rem;
}
.app__product-body button{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--color-green);
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.app__product-body button:hover{
    background-color: rgb(42, 141, 87);
}