*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
}
a{
  text-decoration: none;
}
:root{
  --color-green: mediumseagreen;
  --color-footer: #00284e;
  --color-red: darkred;
}
.page__height{
  min-height: calc( 100vh - 165px );
}
.section__padding{
  padding: 2rem;
}